.vs
client/x64
engine/x64
test/x64
/x64
artifacts
client/bin
engine/bin
test/bin
client/obj
engine/obj
test/obj
engine/doc
docs

# Cartelle di output
bin/
build/
dist/
artifacts/

# File di sistema e IDE
.DS_Store
.vscode/
.idea/

# File temporanei
temp_package/